.mult-value {
  font-size: 20ex;
  color: #1111BB;
}

.mult-op {
  font-size: 20ex;
}

.mult-input {
  font-size: 20ex;
  width: 2em;
}

.mult-guess {
  background-color: #6666DD;
  color: white;
}

.mult-correct {
  background-color: #66DD66;
  color: white;
}

.mult-wrong {
  background-color: #DD6666;
  color: white;
}
