.mult-value {
  font-size: 18ex;
  color: #1111BB;
}

.mult-op {
  font-size: 18ex;
}

.mult-input {
  font-size: 18ex;
  width: 2em;
}

.mult-info-row {
  margin-bottom: 1em;
}

#mult-result-input {
  width: 3.5ex;
}
